* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 50px auto 0;
  padding: 0px 20px;
}

.main {
  display: flex;
}

body {
  background: #f7f9fb;
  font-family: "Gotham Pro";
}

.left__box {
  max-width: 850px;
  margin: 0 auto;
}
.left__box .form-block {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}
.left__box .form-block .form-first__text {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
}
.left__box .form-block .form-first__hr {
  border: 1px solid #F4F4F4;
}
.left__box .form-block .form-first__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.left__box .form-block .form-first__title .form-first__h1 {
  font-size: 18px;
  line-height: 17px;
  color: rgba(24, 24, 24, 0.2);
}
.left__box .form-block .form-first__title .form-first__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.left__box .form-block .form-first__title .form-first__btns .form-first__button {
  border: none;
  background: white;
  cursor: pointer;
}
.left__box .form-block .form-first__title .form-first__btns .form-first__butn {
  border: none;
  background: white;
  cursor: pointer;
}
.left__box .form-block .form-first__title .form-first__btns .form-first__button:hover {
  background-color: #0077B5;
  color: black;
  border-radius: 3px;
  padding: 5px;
}
.left__box .form-block .form-first__title .form-first__btns .form-first__butn:hover {
  background-color: #0077B5;
  color: black;
  border-radius: 3px;
  padding: 0px;
}
.left__box .middle {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left__box .middle .middle__text {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
}
.left__box .middle .middle__text .middle__text-a {
  text-decoration: none;
  color: #0275B1;
}
.left__box .second-block {
  padding: 30px 0px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}
.left__box .second-block .second-block__title {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
}
.left__box .second-block .second-block__title .second-block__h5 {
  font-family: "Gotham Pro";
  font-size: 10px;
  line-height: 150%;
}
.left__box .second-block .second-block__title .second-block__h5 .second__text-a {
  font-family: "Gotham Pro";
  font-size: 10px;
  line-height: 150%;
  color: #0275B1;
  text-decoration: none;
}
.left__box .second-block .second-block__title .second-block__img-btn .button {
  cursor: pointer;
  border: none;
  background: white;
}
.left__box .second-block .second-block__hr {
  border: 1px solid #F4F4F4;
}
.left__box .second-block .second-block__middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}
.left__box .second-block .second-block__middle .second-block__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.left__box .second-block .second-block__middle .second-block__logo .second-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left__box .second-block .second-block__middle .second-block__logo .second-text .second-text_h1 {
  font-family: "Gotham Pro";
  font-size: 16px;
  line-height: 13px;
  color: #181818;
  font-weight: 500;
}
.left__box .second-block .second-block__middle .second-block__logo .second-text .second-text_h5 {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 150%;
  color: #181818;
}
.left__box .second-block .second-block__text {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}
.left__box .second-block .second-block__text .second-block__a {
  margin-top: 10px;
  margin-bottom: 15px;
}
.left__box .second-block .second-block__text .second-block__a a {
  text-decoration: none;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #0275B1;
}
.left__box .second-block .second-block__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.left__box .second-block .second-block__items .second-block__items-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}
.left__box .second-block .second-block__items .second-block__items-container .second-block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  cursor: pointer;
}
.left__box .second-block .second-block__items .second-block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
}
.left__box .last-block {
  padding: 30px 0px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.left__box .last-block .last-block__title {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
}
.left__box .last-block .last-block__title .last-block__h5 {
  font-family: "Gotham Pro";
  font-size: 10px;
  line-height: 150%;
}
.left__box .last-block .last-block__title .last-block__h5 .last__text-a {
  font-family: "Gotham Pro";
  font-size: 10px;
  line-height: 150%;
  color: #0275B1;
  text-decoration: none;
}
.left__box .last-block .last-block__title .last-block__img-btn .button {
  cursor: pointer;
  border: none;
  background: white;
}
.left__box .last-block .last-block__hr {
  border: 1px solid #F4F4F4;
}
.left__box .last-block .last-block__middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}
.left__box .last-block .last-block__middle .last-block__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.left__box .last-block .last-block__middle .last-block__logo .last-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left__box .last-block .last-block__middle .last-block__logo .last-text .last-text_h1 {
  font-family: "Gotham Pro";
  font-size: 16px;
  line-height: 13px;
  color: #181818;
  font-weight: 500;
}
.left__box .last-block .last-block__middle .last-block__logo .last-text .last-text_h5 {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 150%;
  color: #181818;
}
.left__box .last-block .last-block__text {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}
.left__box .last-block .last-block__text img {
  margin-top: 20px;
  width: 100%;
}
.left__box .last-block .last-block__text .last-block__a {
  margin-top: 10px;
  margin-bottom: 15px;
}
.left__box .last-block .last-block__text .last-block__a a {
  text-decoration: none;
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: #0275B1;
}
.left__box .last-block .last-block__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}
.left__box .last-block .last-block__items .last-block__items-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}
.left__box .last-block .last-block__items .last-block__items-container .last-block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  cursor: pointer;
}
.left__box .last-block .last-block__items .last-block__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
}

.right__box {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right__box .promo-block {
  background: white;
  border-radius: 4px;
  position: relative;
}
.right__box .promo-block .promo__block-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px 30px 20px;
  margin-top: 50px;
  gap: 10px;
}
.right__box .promo-block .promo__block-text .promo__block-h1 {
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 13px;
  color: #181818;
  font-weight: 500;
}
.right__box .promo-block .promo__block-text .promo__block-p {
  font-family: "Gotham Pro";
  font-size: 11px;
  line-height: 150%;
  text-align: center;
  color: #181818;
}
.right__box .promo-block .promo__block-logo {
  position: absolute;
  top: 60px;
  left: 95px;
}
.right__box .right__block-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: white;
}
.right__box .right__block-btn .right__block-button {
  width: 100%;
  height: 32px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: #0077B5;
  border-radius: 5px;
}
.right__box .right__block-title {
  background: white;
  padding: 20px;
}
.right__box .right__block-title .right__block-h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 11px;
  text-transform: uppercase;
  color: #181818;
  font-weight: 500;
}
.right__box .right__block-title .right__block-h1 a {
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 11px;
  text-align: right;
  text-transform: uppercase;
  color: #0275B1;
  text-decoration: none;
}
.right__box .right__block-title .right__block-hr {
  border: 1px solid #f7f9fb;
  margin: 20px 0px;
}
.right__box .right__block-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.right__box .right__block-container .right__block-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  padding: 10px;
}
.right__box .right__block-container .right__block-content .right__block-h1 {
  padding: 0px 50px 0px 10px;
  font-weight: 500;
  font-size: 12px;
}
.right__box .right__block-container .right__block-a {
  text-align: start;
}
.right__box .right__block-container .right__block-a a {
  font-family: "Gotham Pro";
  font-size: 12px;
  line-height: 11px;
  text-align: right;
  text-transform: uppercase;
  color: #0275B1;
  text-decoration: none;
  font-weight: 500;
}
.right__box .right__block-text {
  border: none;
  padding: 5px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 20px;
}
.right__box .right__block-text .right__block-text__h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-size: 14px;
  line-height: 11px;
  text-transform: uppercase;
  color: #181818;
  font-weight: 500;
}
.right__box .right__block-text .right__block-hr {
  border: 1px solid #f7f9fb;
  margin: 20px 0px;
}
.right__box .right__block-text .right__block-heshtag {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-right: 30px;
}
.right__box .right__block-text .right__block-heshtag .right__block-h5 {
  background: #e9f0f8;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .right__box {
    display: none;
  }
}
@media (max-width: 360px) {
  .left__box .form-block .form-first__title .form-first__h1 {
    font-size: 12px;
    line-height: 17px;
    color: rgba(24, 24, 24, 0.2);
  }
  .left__box .form-block .form-first__title .form-first__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}