@media (max-width:1200px) {
    .right__box {
        display: none;
    }
}

@media (max-width:360px) {
    .left__box .form-block .form-first__title .form-first__h1 {
        font-size: 12px;
        line-height: 17px;
        color: rgba(24, 24, 24, 0.2);
    }

    .left__box .form-block .form-first__title .form-first__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}